.container {
  background-color: white;
  overflow-x: hidden;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 40px; /* Gap between the left and right sections */
  width: 100%; /* Ensure it takes the full width */
}

/* Tablet View (Under 1200px) */
@media (max-width: 1200px) {
  .content {
    gap: 20px;
  }

  .left-section,
  .right-section {
    flex: 0.45; /* Adjust width for tablets */
  }
}

/* View Between 600px and 960px */
@media (max-width: 960px) {
  .content {
    flex-direction: row; /* Keep sections horizontal in row */
    gap: 20px;
  }

  .left-section,
  .right-section {
    flex: 1;
    padding-right: 0;
    padding-left: 0;
  }

  .left-section .text-field {
    width:90%; /* Reduce width for screens between 600px and 960px */
  }
}

/* Mobile View (Under 600px) */
@media (max-width: 600px) {
  .content {
    flex-direction: column; /* Stack sections vertically for mobile */
    gap: 20px;
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .left-section,
  .right-section {
    flex: 1; /* Make both sections full width */
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px; /* Add some spacing on mobile */
  }

  .right-section {
    margin-top: 20px; /* Add space between the two sections */
  }

  /* Reduce text field width more on smaller screens */
  .left-section .text-field {
    width: 100%; /* Ensure text fields are full-width */
  }
}
