/* Main Section Container */
.section-container {
  background-color: #f3f3f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 5%;
  flex-wrap: wrap;
  width: 100%;
}

/* Image description row */
.image-description-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%; /* Remove max-width to let it stretch fully */
}

/* Row - align content and ensure full width */
.row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  gap: 3%;
  width: 100%; /* Ensure row takes full container width */
}

/* Image container styles */
.img-container {
  position: relative;
  width: 100%;
  /* max-width: 320px; Maximum image size */
  padding: 1%;
  overflow: hidden;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.img-container:hover {
  border-color: rgba(185, 157, 117, 1); /* Gold border on hover */
}

.img-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.img-container:hover img {
  transform: scale(1.1); /* Scale image on hover */
}

/* Description section */
.description {
  flex: 1;
}

/* Title styling */
.title {
  font-family: Marcellus, serif;
  font-size: 35px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* Text styling */
.text {
  font-family: Marcellus, serif;
  font-size: 16px;
  line-height: 1.6;
  margin-left: 20px;
}

/* Responsive layout for smaller screens */
@media (max-width: 991px) {
  .section-container {
    padding: 50px;
  }

  .image-description-row {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
  }

  .description {
    order: -1; /* Move description above image */
  }

  .img-container {
    order: 1; /* Move image below description */
    max-width: 65%; /* Full width for mobile */
    padding: 30px;
  }

  .text, .title {
    margin-left: 0; /* Remove left margin */
    text-align: center; /* Center text */
  }

  .img-container img {
    border-radius: 8px; /* Add border-radius for mobile look */
  }
}
