.container {
    background-color: white;
    overflow-x: hidden;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 40px; /* Gap between the left and right sections */
  }
  
  @media (max-width: 1200px) {
    /* Tablet View */
    .content {
      gap: 20px;
    }
    
    .left-section,
    .right-section {
      flex: 0.45; /* Reduce width for tablet view */
    }
  }
  
  @media (max-width: 960px) {
    /* Mobile View */
    .content {
      flex-direction: column;
      gap: 20px;
    }
  
    .left-section,
    .right-section {
      flex: 1;
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  .left-section {
    flex: 1;
    padding-right: 40px;
  }
  
  .right-section {
    flex: 1;
    padding-left: 40px;
  }
  
  @media (max-width: 960px) {
    .right-section {
      margin-top: 40px;
    }
  }
  
  .underline {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }
  