.container{
    background-color: white;
    overflow: hidden;

}
.content-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.room-cards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 40px;
    gap: 40px;
}
@media (max-width: 768px) {
    .room-cards{
        flex-direction: column;
        align-items: center;
    }  
}
.my-component-wrapper{
    flex: 1;
    min-width: 300px;
}
.text-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width: 768px) {
    .text-section{
        padding: 0px 20px;
    }  
}
.img{
    aspect-ratio: 1.1;
    object-fit: auto;
    object-position: center;
    width: 75px;
}
.activity-cards-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
}
.activity-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    gap: 30px;
    margin-bottom: 40px;
    display: flex;  
}
@media (max-width: 480px) {
    .activity-cards{
        gap: 10px;
    }
}
@media (max-width: 768px) {
    .activity-cards{
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
    }
}
.availability-bar-wrapper{
    position: relative;
    top: -70px; /* Adjust as needed to overlap with ImageBox */
    display: flex;
    z-index: 4; /* Ensure the bar is above the ImageBox */
    justify-content: center;
}
@media (max-width: 768px) {
    .availability-bar-wrapper{
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}