/* Ensure full-width for the image box */
.container {
    background-color: rgb(209, 16, 16);
    overflow: hidden; /* Remove horizontal scroll */
    align-items: center;
    padding-bottom: 20px;
    width: 100%; /* Full width */
    margin: 0; /* Ensure no extra margin */
}

.content-container {
    max-width: 100%; /* Ensure it takes full width */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent; /* Remove background color conflicts */
    overflow-x: hidden; /* Prevent horizontal overflow */
    z-index: 2;
}

.img {
    aspect-ratio: 1.1;
    object-fit: cover; /* Ensure the image covers its container */
    object-position: center;
    width: 100%; /* Make the image take full width */
    height: auto; /* Adjust height to maintain aspect ratio */
}

/* Handle layout adjustments for cards */
.room-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 40px;
    gap: 40px;
    flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
}

@media (max-width: 768px) {
    .room-cards {
        flex-direction: column;
        align-items: center;
    }
}


.my-component-wrapper {
    flex: 1;
    min-width: 300px;
}

.text-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .text-section {
        padding: 0px 20px;
    }
}

.img {
    aspect-ratio: 1.1;
    object-fit: auto;
    object-position: center;
    width: 75px;
}

.activity-cards-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
}

.activity-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    gap: 30px;
    margin-bottom: 40px;
    display: flex;
}

@media (max-width: 480px) {
    .activity-cards {
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .activity-cards {
        flex-direction: column;
        align-items: center;
    }
}

.availability-bar-wrapper {
    position: relative;
    top: -70px; /* Adjust as needed */
    display: flex;
    z-index: 4; /* Ensure the bar is above the ImageBox */
    justify-content: center;
}

@media (max-width: 768px) {
    .availability-bar-wrapper {
        top: 0; /* Reset top value for smaller screens */
        margin-top: 20px;
        justify-content: center;
        
    }
}



